@import url('./style.css');

.profile-secao-dois{
    display: grid;
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    gap: 1rem;
    grid-template-areas: 
    "profile-secao-dois-menu profile-secao-dois-menu profile-secao-dois-visitors"
    "profile-secao-dois-about profile-secao-dois-about profile-secao-dois-visitors"
    "profile-secao-dois-projects profile-secao-dois-projects profile-secao-dois-visitors"
    "profile-secao-dois-projects profile-secao-dois-projects profile-secao-dois-courses"
    "profile-secao-dois-skills profile-secao-dois-skills profile-secao-dois-courses"
    "profile-secao-dois-experience  profile-secao-dois-experience . "
    "profile-secao-dois-experience  profile-secao-dois-experience . "
    "profile-secao-dois-education  profile-secao-dois-education . "
    ;
}

.profile-secao-dois-menu{
    grid-area: profile-secao-dois-menu;
    width: 70%;
}

.profile-secao-dois-visitors{
    grid-area: profile-secao-dois-visitors;
    background-color: #FFFFFF;
    margin-top: 15px;
}

.profile-secao-dois-about{
    grid-area: profile-secao-dois-about;
    background-color: #FFFFFF;
    margin-top: 15px;
}

.profile-secao-dois-courses{
    grid-area: profile-secao-dois-courses;
    background-color: #FFFFFF;
    margin-top: 15px;
}

.profile-secao-dois-projects{
    grid-area: profile-secao-dois-projects;
    background-color: #FFFFFF;
    margin-top: 15px;
}

.profile-secao-dois-skills{
    grid-area: profile-secao-dois-skills;
    background-color: #FFFFFF;
    margin-top: 15px;
}

.profile-secao-dois-education{
    grid-area: profile-secao-dois-education;
    background-color: #FFFFFF;
    margin-top: 15px;
}
.profile-secao-dois-experience{
    grid-area: profile-secao-dois-experience;
    background-color: #FFFFFF;
    margin-top: 15px;
}



.perfil-botao-lista {
    width: 240px;
    height: 50px;
    font-weight: bold;
}

.branco{
    background-color: #FFFFFF;
    border: 1px solid  grey!important;
}