@import url('./style.css');

.profile-secao-dois-titulo {
    font-size: 18px;
}


.profile-secao-dois {
    display: grid;
    font-family: 'Montserrat', sans-serif;
    width: 70%;
    gap: 1rem;
    grid-template-areas:
        "profile-secao-dois-menu profile-secao-dois-menu profile-secao-dois-visitors"
        "profile-secao-dois-about profile-secao-dois-about profile-secao-dois-visitors"
        "profile-secao-dois-projects profile-secao-dois-projects profile-secao-dois-courses"
        "profile-secao-dois-skills profile-secao-dois-skills ."
        "profile-secao-dois-experience  profile-secao-dois-experience . "
        "profile-secao-dois-experience  profile-secao-dois-experience . "
        "profile-secao-dois-education  profile-secao-dois-education . "
    ;
}

.profile-secao-dois-menu {
    grid-area: profile-secao-dois-menu;
    margin-top: 1.3rem;
    height: min-content;
    background-color: red;
}

.profile-secao-dois-visitors {
    grid-area: profile-secao-dois-visitors;
    height: min-content;
    background-color: #FFFFFF;
    margin-top: 15px;
    color: #181818;
    padding: 1rem 0.5rem 0.5rem 1rem;

}

.profile-secao-dois-visitors,
h5,
a {
    font-size: 12px;
}

.profile-secao-dois-visitors a {
    color: var(--cor-primary);
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.profile-secao-dois-titulo {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}



.profile-secao-dois-lista {
    display: flex;
    align-items: center;
    padding: 0.4rem;
}

.profile-secao-dois-dados {
    padding-left: 0.8rem;
}

.profile-secao-dois-about {
    grid-area: profile-secao-dois-about;
    background-color: #FFFFFF;
    margin-top: 15px;
    padding: 1.2rem;
    height: min-content;

}

.profile-secao-dois-about p,
.profile-secao-dois-about a {
    font-size: 12px;
}

.profile-secao-dois-about p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.profile-secao-dois-about a {
    text-decoration: none;
    color: var(--cor-primary);
    cursor: pointer;
    font-weight: 700;
}

.profile-secao-dois-courses {
    grid-area: profile-secao-dois-courses;
    background-color: #FFFFFF;
    margin-top: 15px;
    height: min-content;
}

.profile-secao-dois-courses-titulo h5 {
    padding-bottom: 2rem;
}

.profile-secao-dois-videos {
    display: flex;
    align-items: center;
    padding-left: 0.8rem;
    padding-right: 0.5rem;
}

.profile-secao-dois-videos h5,
.profile-secao-dois-videos small {
    padding-left: 0.7rem;
}

.profile-secao-dois-courses h5 {
    padding-left: 0.8rem;
    padding-top: 0.8rem;
}

.profile-secao-dois-courses a {
    color: var(--cor-primary);
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    padding-left: 0.8rem;
}

.profile-secao-dois-courses-rec {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.profile-secao-dois-projects {
    grid-area: profile-secao-dois-projects;
    background-color: #FFFFFF;
    margin-top: 15px;
    height: min-content;
    
}

.profile-secao-dois-projects-titulo{
    display: flex;
    align-items: center;
    padding: 1.2rem;

}
.profile-secao-dois-projects-titulo small{
    padding-left: 1rem;
}

.profile-secao-dois-projects a{
    color: var(--cor-primary);
    text-decoration: none;
    font-weight: bold;
    padding: 1.2rem;
}

.profile-secao-dois-projects-lista{
    display: flex;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    
}

.profile-secao-dois-projects-lista img{
    max-width: 190px;
}

.profile-secao-dois-projects-show-all{
    margin-bottom: 1rem;
}

.profile-secao-dois-projects-col{
    padding-right: 0.5rem;
}

.profile-secao-dois-skills {
    grid-area: profile-secao-dois-skills;
    background-color: #FFFFFF;
    margin-top: 15px;
}

.profile-secao-dois-skills-titulo{
    padding: 1.2rem 1.2rem 0 1.2rem;
}

.profile-secao-dois-skills-lista{
    display: flex;
    max-width: 100%;
    padding: 1.2rem;
}

.profile-secao-dois-skills-item{
    border: 1px solid #E5E5E5 ;
    border-radius: 5px;
    width: 100%;
    padding: 0.5rem;
    margin-right:0.5rem;
}

.profile-secao-dois-skills-item-titulo{
    display: flex;
    justify-content: space-between;
}

.profile-secao-dois-skills-link{
    margin-bottom: 1rem;
    padding-left: 1.2rem;
}

.profile-secao-dois-skills-link a{
    color: var(--cor-primary);
    font-weight: bold;
    text-decoration: none;
}





.profile-secao-dois-education {
    grid-area: profile-secao-dois-education;
    background-color: #FFFFFF;
    margin-top: 15px;
}

.profile-secao-dois-experience {
    grid-area: profile-secao-dois-experience;
    background-color: #FFFFFF;
    margin-top: 15px;
}

.profile-secao-dois-experience h3{
    padding-top: 1.2rem;
    padding-left: 1.2rem;
}

.profile-secao-dois-experience-item{
    display: flex;
    margin: 1.2rem;
}

 hr{

    border-color: #E5E5E5 ;
    border-style: solid;
    margin: 1.2rem;
}

.profile-secao-dois-item-descricao{
    padding-left: 1rem;
}

.perfil-botao-lista {
    width: 150px;
    height: 35px;
    font-weight: bold;
    font-size: 12px !important;
}

.branco {
    background-color: #FFFFFF;
    border: 1px solid grey !important;
}

.profile-secao-dois small {
    font-size: 10px;

}

.profile-secao-dois h5 {
    font-size: 14px;

}

.profile-secao-dois h3 {
    font-size: 18px;

}

.profile-secao-dois-experience p,
.profile-secao-dois-education p {
    font-size: 10px;
    line-height: 15px;

}