@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap');
@import url(./constants.css);
@import url(./header-feed/header-feed.css);
@import url(./section-newpost/newpost.css);
@import url(./coluna-feed/coluna-feed.css);
@import url(./coluna-feed/coluna-feed-perfil.css);
@import url(./section-newpost/section-comment-feed.css);
@import url(./footer-feed/footer-feed.css);
@import url('../components/profile-header/profile-header.css');
@import url('../components/profile-secao-um/profile-secao-um.css');
@import url('../components/profile-footer/profile-footer.css');
@import url('../components/profile-secao-dois/profile-secao-dois.css');




*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #e5e5e5;
} 